[2018-11-26 12:13] heavysaturn opened #1 "SeasonalBot: Lovey-dovey valentines avatar!"
We need an avatar the bot can use during february, with hearts for eyes and in pink and purpley hues.

[2018-11-26 12:15] heavysaturn opened #2 "SeasonalBot: Evergreen avatar"
The bot will need an avatar for when no season is active - currently it's set up to use the same one as Python but that seems needlessly confusing. it'd be good if we could come up with one that's a little bit different. maybe a greenish one since it's evergreen?

[2018-11-26 15:05] AnonGuy commented on #1
I'll work on this one today.

[2018-11-26 15:06] AnonGuy commented on #2
That sounds good, I'll see what I can do!

[2018-12-03 19:44] neonsea commented on #2
Opinions on this design?

![valentines](https://vgy.me/Bf6zEc.png)

[2018-12-03 19:45] neonsea commented on #1
Opinions on this design?

![valentines](https://vgy.me/Bf6zEc.png)

(Apologies, I posted this in the wrong issue earlier)

[2018-12-03 19:45] jchristgit commented on #1
Looks great!

[2018-12-03 20:00] neonsea commented on #2
Tried going for a greenish one - criticism?

![evergreen](https://vgy.me/OHzz5N.png)

[2018-12-03 21:15] heavysaturn commented on #1
That's more or less what I was thinking. Great job.

[2018-12-03 21:17] heavysaturn commented on #1
You can probably just go ahead and PR this in.

[2018-12-04 16:55] AnonGuy commented on #2
That looks great, nice job!

[2018-12-04 16:58] AnonGuy commented on #1
I know the PR's already been merged, but I'm interested to see how this logo would look with eyes that are shaped more like this:

![image](https://user-images.githubusercontent.com/25161069/49458947-cc2ef100-f7e5-11e8-908c-2fcb60dee30e.png)

[2019-02-04 22:04] #1 closed

[2019-02-28 10:49] lemonsaurus opened #5 "SeasonalBot: Easter icon"
We've decided to do an Easter season during April, which means we need you guys to make a yellowish Python icon we can use during that season. For the eyes, perhaps something like bunny eyes?

![image](https://user-images.githubusercontent.com/2098517/53561344-ebbc8800-3b4e-11e9-978d-d50b18576696.png)

[2019-02-28 10:50] SebastiaanZ commented on #5
Bunny ears on our snakes could be recognizable as well.

[2019-02-28 10:51] heavysaturn commented on #5
might be okay. we'd probably have to run it by the PSF though, since it "makes major changes the shape of the icon"

[2019-03-03 15:38] AnonGuy opened #6 "SeasonalBot: Pride icon"
We'll need a pride-themed icon for June. It could have a rainbow flag blackground, or a scheme that matches one of the many pride flags:
![image](https://user-images.githubusercontent.com/25161069/53697565-59281d00-3dca-11e9-9507-b22a43f3eb5b.png)

[2019-03-03 18:01] heavysaturn commented on #6
I personally would love to see many of these rendered in logo format so we could switch the icon out every 5th day or so.

[2019-03-06 09:16] heavysaturn opened #7 "logos/logo_discord/logo_discord.svg is looking.. droopy."
![image](https://user-images.githubusercontent.com/2098517/53869664-f072b780-3ff8-11e9-8394-a4d98a57c214.png)

not sure what happened to this one, but it should be fixed.

[2019-03-06 09:40] scragly commented on #7
It's just having a tough time man. It'll work itself out.

[2019-03-06 09:45] scragly commented on #7
Resolved with https://github.com/python-discord/branding/commit/c961ae91b1642bf05ca80499b4cebd4eed29f367

Accidentally merged to master though, sorry.

[2019-03-06 11:16] #7 closed

[2019-03-06 12:10] #2 closed

[2019-03-16 10:48] lemonsaurus opened #9 "SeasonalBot: Fix the Valentines icon"
According to the PSF, we're not allowed to change the eye shapes on our icons. This means we'll need to fix the Valentines icon so that it has the regular sized python eyes in order for the icon to get their approval.

[2019-03-16 10:48] lemonsaurus opened #10 "SeasonalBot: Fix the halloween icon"
According to the PSF, we're not allowed to change the eye shapes on our icons. This means we'll need to fix the Halloween icon so that it has the regular sized python eyes in order for the icon to get their approval.

[2019-03-16 10:49] heavysaturn commented on #5
Regular eyes.

[2019-03-16 10:50] lemonsaurus opened #11 "SeasonalBot: Fix the New Years icon"
According to the PSF, we're not allowed to add items to the border of the two snakes, we may only add things that are fully outside or inside of the snakes. This means the party hat on the new years icon must be removed, but the fireworks on the background is okay.

[2019-03-16 10:51] lemonsaurus opened #12 "SeasonalBot: Fix the Christmas icon"
According to the PSF, we're not allowed to change the eye shapes on our icons. This means we'll need to fix the Christmas icon so that it has the regular sized python eyes in order for the icon to get their approval.

[2019-03-16 20:05] lemonsaurus opened #13 "Change our banner to the new one"
We will be changing our banner, although the new banner still doesn't have approval from Discord. We're in dialogue with them about this now.

The new banner will hopefully look roughly like this:
![image](https://user-images.githubusercontent.com/2098517/54480931-d9209f00-482e-11e9-8da4-2fdf87aa696e.png)

Once we've got approval, we will need to change our banner everywhere where the old one is f

[2019-03-20 12:16] heavysaturn commented on #13
new banner design is approved by Discord. This issue is ready to be handled now.

[2019-04-01 20:44] lemonsaurus commented on #13
Uploaded a raster version of the new banner, as well as the psd for it. Sadly the old SVG was broken (did not contain the letters PYTHON) so we don't have an SVG version of this right now... but that might be okay.

[2019-04-01 20:44] lemonsaurus commented on #12
Fixed.

[2019-04-01 20:44] #12 closed

[2019-04-01 20:44] lemonsaurus commented on #11
Sorted.

[2019-04-01 20:44] #11 closed

[2019-04-01 20:44] lemonsaurus commented on #10
Done.

[2019-04-01 20:44] #10 closed

[2019-04-01 20:44] lemonsaurus commented on #9
Completed.

[2019-04-01 20:44] #9 closed

[2019-04-01 20:45] lemonsaurus commented on #5
This one is completed.

[2019-04-01 20:45] #5 closed

[2019-04-02 08:05] lemonsaurus commented on #13
@scragly has uploaded an svg for the banner with alignment sorted.

[2019-04-03 12:01] lemonsaurus opened #15 "St Patricks Day"
I know @scragly made a St Patricks icon, but it's not in the repo for some reason.

Let's get that committed at some point, so we can use it again next year.

[2019-05-10 01:16] sco1 opened #16 "Repository Social Media Previews"
[About a month ago](https://github.blog/changelog/2019-04-16-repository-social-media-image/), GitHub introduced a feature that allows repository owners to customize the preview that gets shown for social media embeds when a repository is shared:

I chucked random logo from our branding repository onto bot to see what it looks like:
![image](https://user-images.githubusercontent.com/5323929/5749619

[2019-05-12 19:26] lemonsaurus commented on #16
This is a good suggestion, we're looking for someone to try to come up with something specifically for this embed. Maybe it has a GitHub logo on it or something.

[2019-05-18 18:23] jchristgit commented on #16
A great idea!!

[2019-06-14 15:42] kosayoda opened #19 "Animated default server icon for evergreen season"
As part of the nitro server boosting perks, we now have animated server icons all year round. Thus, it would be nice to have a animated icon for our default server icon (the blurple one) during off-season.

Here are some ideas @lemonsaurus and I came up with:

* The sneks on the logo stick their tongue out, then retract them
* The logo spins every x seconds (y-axis / z-axis rotation)
* The logo pu

[2019-06-14 15:50] kosayoda commented on #6
Resolved by #17

[2019-06-14 15:50] #6 closed

[2019-06-14 16:02] kwzrd commented on #19
I would love to look into this over the weekend!

[2019-06-14 16:20] SebastiaanZ commented on #19
Sounds good to me.

Maybe I'll try something, too, but I'm bad with graphics.

[2019-08-01 00:33] sco1 commented on #16
Merged by #21

[2019-08-01 00:33] #16 closed

[2019-08-06 17:04] lemonsaurus commented on #15
@scragly just a reminder that this is kinda stale.

[2019-08-06 17:42] lemonsaurus opened #23 "social banners for the rest of the repos"
The social banners look good, and there's a psd to be found in the `social_banner` folder, so let's get them added to the rest of the repos, too.

- [x] `flake8-annotations`
- [x] `django-simple-bulma`
- [x] `django-crispy-bulma`

[2019-09-15 20:10] eivl opened #24 "Hacktoberfest 2019"
![Hacktoberfest_19_Events_620x76](https://user-images.githubusercontent.com/5323929/64254638-ca699980-ceed-11e9-9ca1-fb441a8fda3e.png)

[Hacktoberfest 2019](https://hacktoberfest.digitalocean.com/) [1] is quickly approaching, so it's time to think  branding and art assets for the event, which includes a nice thematic server icon and server banner to highlight the event on Discord. ~~In addition, i

[2019-09-21 07:00] Akarys42 commented on #23
You should have mentioned me : #25 :)

[2019-09-22 10:14] #23 closed

[2019-10-03 11:44] scragly opened #29 "Create a blank social banner for external services."
The social banners setup for our Repos are suitable as a patterned social backdrop on external services such as Reddit. For this purpose, we should have a blank version of these to be able to be used, created from the PSD that exists:
https://github.com/python-discord/branding/tree/master/logos/social_banner

[2019-10-06 08:02] Akarys42 commented on #29
Wdym by white background @scragly? A full white background will probably look weird because of the letters that are already white.

[2019-10-06 11:08] scragly commented on #29
I don't believe I've said anything about a white background.

I'm asking for just the banner image with no text.

[2019-10-06 11:10] Akarys42 commented on #29
Yeah you didn't said anything about it, my brain just suck :D

[2019-10-06 11:12] scragly commented on #29
No problems. I had to re-read my original message a few times just in case I really did say something silly.

[2019-10-06 11:29] Akarys42 commented on #29
Done in #30 :)

[2019-10-09 14:50] raghavpatnecha commented on #24
@SebastiaanZ I have created icons for Discord according to Hacktoberbest theme. Let me know your views on them:
[Discord_icon 2](https://github.com/raghavpatnecha/DBz-YouTube-Chrome-Extension/blob/master/img/discord_hack.png)

[Discord_icon 1](https://github.com/raghavpatnecha/DBz-YouTube-Chrome-Extension/blob/master/img/discord_hack1.png)

If you are fine with it I will create a Pull Request

[2019-10-09 15:39] lemonsaurus commented on #24
these icons are

[2019-10-09 15:45] lemonsaurus commented on #24
I'm gonna close this issue, since we actually have everything in it.

[2019-10-09 15:45] #24 closed

[2019-11-24 20:29] #29 closed

[2020-02-13 09:53] lemonsaurus opened #44 "More lemojis!"
@manusaurio expressed an interest in working on a set of lemojis. As we're removing a few generic emojis that express certain things, it would be good to start with lemojis that express these same emotions, so that we can still communicate in effectively the same way as we currently do.

## Planned emotes
- [ ] Angry cop/security guard
- [X] Blush
- [X] Pleased (based on the old one)
- [X] Expecta

[2020-02-21 12:33] AG4lyf commented on #44
Lemon doing a thoubs up , or Pat Pat

[2020-02-23 14:13] kwzrd opened #45 "Re-organize branding"
# Abstract

I would like to propose that `branding` is cleaned up a little bit, and in particular the `logos` directory is re-organized to something easier to navigate for both humans and bots. I introduce two possible approaches for reducing the current complexity of showing Seasonalbots which icons to load.

# Rationale

As we've been adding more and more logos, banners and other branding featur

[2020-02-23 14:18] kwzrd commented on #13
This looks like something that can be closed.

Have we done `Change the banner used in various invites on our partner servers` and ` Change the icon used in the emoji on the server`?

[2020-02-23 14:19] lemonsaurus commented on #13
we haven't done the latter, but I can do it now.

[2020-02-23 14:20] kwzrd commented on #13
It looks like https://paste.pydis.com uses a slightly different banner than the one in this issue.

[2020-02-23 14:58] lemonsaurus commented on #13
Added emoji, updated paste.pydis.com

[2020-02-23 14:58] #13 closed

[2020-02-23 15:10] lemonsaurus commented on #45
I'm actually leaning towards approach 1 here, because it's simple and straight forward and I don't know how much of that flexibility we really need.

I would simplify the structure you suggested even further, since there's quite a few folders that are fairly superfluous. For example

[code]

all the icons we want to rotate will be in icons, banner and bot_icon should always be at root, and anythin

[2020-02-23 16:11] kwzrd commented on #45
@lemonsaurus I like this a lot, it's fairly different from my vision of approach 1. The only downside is that in order to make adjustments, we will need to move the files themselves, rather than some sort of a reference. But that's ok.

If no one else has any suggestions, I'd be happy to go with this.

[2020-02-23 16:38] MarkKoz commented on #45
@lemonsaurus So you propose to dump all other resolutions of images into a `misc` folder? Sounds like it could get messy. How would you handle something like [this](https://github.com/python-discord/branding/tree/master/logos/logo_seasonal/pride_animated), which has lots of files?

[2020-02-23 17:18] lemonsaurus commented on #45
@MarkKoz hmm, no, that's not quite what I meant. `misc` is just an example. Since the implementation would ignore all other folders apart from `icons`, we could easily have additional folders and subfolders structured however we wanted. it might be a good idea to have a `misc` folder (or some other name) at the top level, for sake of consistency, but inside that folder we could do whatever we need

[2020-02-28 09:03] lemonsaurus commented on #44
This was suggested in meta:
![image](https://user-images.githubusercontent.com/2098517/75526199-9c36c380-5a11-11ea-8362-96e3cbab1a59.png)

[2020-02-29 18:07] kwzrd commented on #45
Since no one else has commented, I went ahead and made a [new branch](https://github.com/python-discord/branding/tree/seasonal-structure) where I will transition towards the schema outlined by @lemonsaurus. For now, I only copied over evergreen / off-season assets for SeasonalBot.

[2020-03-31 08:47] #45 closed

[2020-04-02 12:28] kwzrd opened #48 "Animated server icon for Game Jam 2020"
## What's up?
Thanks to @scragly, we have a beautiful icon for the upcoming game jam [2], but its shape / theme diverges from the usual snake logo [1]. Using this as the server icon could therefore be confusing to our users, as they would no longer recognize our guild in their guild list.

## Solution
Despite this, we would like to use it. @SebastiaanZ has come up with a brilliant idea to create a

[2020-04-03 08:02] kwzrd commented on #48
Scrags has made a brilliant icon for us!

![](https://cdn.discordapp.com/attachments/365960823622991872/695360383250333807/Flame_21_4.gif)

[2020-04-03 08:02] #48 closed

[2020-04-03 08:12] kwzrd commented on #48
Added in 58cc573415969af9fcba236aa230649476424216.

[2020-06-06 08:56] lemonsaurus opened #52 "Summer Code Jam 2020 branding"
Maybe a beach ball for the o in code, a parasol, that sort of thing?

I'll give it a try today.

[2020-06-06 23:32] lemonsaurus commented on #52
Solved in https://github.com/python-discord/branding/commit/37548acdfae8c95fca4a88f1974259ce78c4fcf8

![Uploading image.png…]()

[2020-06-06 23:32] #52 closed

[2020-07-23 13:48] mbaruh opened #54 "Cheesy Duck"
We need a duck made out of cheese to show our appreciation for exceptionally cheesy comments.

[2020-08-20 14:29] lemonsaurus opened #56 "Fix pikachu lemoji"
I think maybe we should fix it by removing it, since it's the stuff of nightmares.

...But if we have to keep it, it certainly shouldn't have a black outline. None of the others do.

[2020-09-12 20:39] #56 closed

[2020-09-16 09:53] lemonsaurus opened #68 "Recreate the dice emoji with PyDis colors."
We currently have dice emoji in our community, which are used quite actively both by our users and in a seasonalbot feature `.roll`. They look like this:

![image](https://user-images.githubusercontent.com/2098517/93322174-50176900-f813-11ea-941d-33f49edf43e9.png)

It's been suggested that we could rebrand these to have pydis colors, and I think this is a good idea. This issue asks you to create t

[2020-09-16 10:40] MagicTurtle2203 commented on #68
A while ago, a member pointed out that the layout of the dice is incorrect. For a standard die, opposite sides should add up to 7. In the picture above, however, 3 and 4 are next to each other rather than on opposite sides. This problem also exists in the other dice. This issue would be a good opportunity to correct the layout of the dice as well.

[2020-09-16 11:23] gustavwilliam commented on #68
@lemonsaurus could you assign me this, here on GitHub as well?

@MagicTurtle2203 At least the first design iteration will be flat, eliminating this issue. If this doesn't quite work (which I doubt), we'll make sure to get that right.

[2020-09-16 12:27] lemonsaurus commented on #68
Thanks, assigned!

[2020-09-16 20:34] #68 closed

[2020-09-23 00:19] mbaruh commented on #54
It has been fulfilled

[2020-09-23 00:19] #54 closed

[2020-09-23 00:21] mbaruh commented on #44
Suggesting one with a closed/zipped/taped mouth

[2020-09-27 19:20] lemonsaurus opened #75 "Cowboy lemoji, please."
Can 🤠 we please 🤠  have a cowboy 🤠  lemoji? 🤠

[2020-09-28 18:35] janine9vn opened #76 "Update lemojis with updated lemoji template"
Current lemojis are not updated to use the most recent symmetrical + perfectly masked lemoji template currently in the branding repo. This issue would require someone to go to through and update all svgs and pngs to use that new template.

I don't believe it should require an update to the emojis on the server as they are small enough to not notice the slight masking issues and not perfect symmetr

[2020-09-28 18:35] janine9vn commented on #76
I can also work on this today if someone wants to assign this to me.

[2020-10-02 23:53] gustavwilliam commented on #76
If you decide to do go through and update all of them, I think updating the emojis on the server would be reasonable as well. It doesn't require more than a couple of seconds.

[2020-10-03 11:58] gustavwilliam opened #78 "Zipped mouth lemoji"
@mbaruh I'll work on your proposed zipped mouth lemoji now! 🤐

[2020-10-03 17:29] gustavwilliam opened #79 "Seasonal lemojis!"
Lemojis for the different seasons. The first two ones, possibly only ones needed, will be winter and autumn.

[2020-10-03 20:42] gustavwilliam commented on #79
Winter and autumn lemojis are added in #81.

[2020-10-03 21:29] #78 closed

[2020-10-04 14:44] gustavwilliam opened #83 "Organising labels"
## Current system
At the moment, the colors and names of the labels on the repo seem a bit messy. This is the full list:
<img width="256" alt="Screenshot 2020-10-04 at 16 13 23" src="https://user-images.githubusercontent.com/65498475/95017942-8864d700-065c-11eb-825e-16508e6cba03.png">

## New system
I'm proposing a new system, which will look a lot like the one used in the Python Bot. All labels s

[2020-10-04 15:24] scragly commented on #83
Overall, I agree with the proposal. A few niggles to mention or make note of.

These terms are very dev-centric, while this repo is primarily asset-related. Due to this, I'd suggest using more suitable terms that effectively stay in line with your intentions, but feel more applicable to the situations we'd encounter here:

- proposal
- question
- fix

[2020-10-04 15:50] lemonsaurus commented on #83
I see no value in turning area into `a`. single letters are not good descriptors.

the labels we have here are the organization-level labels that we designed together with several core devs and I do not see the use in rolling a completely different convention here.

However, I _do_ agree that we should change the labels to make sense in the context of branding. So my counter-proposal is for you to

[2020-10-04 15:51] scragly commented on #83
I believe this was part of the proposal purely to bring it in line with our other repos, as they use single-letter tag types.

[2020-10-04 15:53] gustavwilliam commented on #83
Very fair point. I've updated the original comment to reflect this

[2020-10-04 16:00] gustavwilliam commented on #83
@lemonsaurus Just like @scragly said, this seems to be the convention only in bot repos (both SeasonalBot and Bot). I would have nothing against using the full names — like `type`, `status` and `area` — instead. However, I don't think we should skip that meta-part of the tag describing the category. To me, saying `status: stale` makes much more sense than simply `stale`.

[2020-10-04 16:02] scragly commented on #83
No, just `bot`, lol. I checked after I posted, hence the edit.

See [`seasonalbot`'s here.](https://github.com/python-discord/seasonalbot/labels)

[2020-10-04 16:13] lemonsaurus commented on #83
Aha, right. I suppose we've discussed doing this but never completed this issue:
https://github.com/python-discord/organisation/issues/268

[2020-10-04 16:16] lemonsaurus commented on #83
Right, so seasonalbot appears to be more in line with our organization labels. Here's how the organization default labels look:

![image](https://user-images.githubusercontent.com/2098517/95020812-b43c8880-066d-11eb-8cc8-7b12781d0494.png)

[2020-10-04 16:17] lemonsaurus commented on #83
Anyway, ultimately this is the kind of labels I want on all our repos - including on `bot`. So let's come up with a set for this repo that make sense, and follow the organisation label conventions.

[2020-10-04 16:18] gustavwilliam commented on #83
Sounds good to me. Any reason that priority normal isn't included?

[2020-10-04 16:19] scragly commented on #83
Superfluous

[2020-10-04 16:20] gustavwilliam commented on #83
I guess. Would most issues and PRs simply be without any label?

[2020-10-04 16:20] scragly commented on #83
I believe that would be the intention; only truly low and high priority stuff would be worth the note making them the exception.

[2020-10-04 16:32] gustavwilliam commented on #83
Here are the labels that I propose we have on this repo.
### Specific labels
- `area: lemoji` — Related to lemojis
- `area: emotes` — Related to all emotes, except for lemojis
- `area: events` — Related to events, like Code Jams or Hacktoberfest
- `area: pydis` — Related to the standard branding of PyDis
- (`area: documentation` — Documenting workflows and conventions)
- `good first issue`
- `help

[2020-10-04 23:29] Atharv-Attri opened #84 "Angrily-sad lemoji"
I wish to design a new lemoji that has an expression of being angry and sad at the same time.  This would be useful because many times people are very angry about something, but they are also sad about that very thing (You can't honestly say you have never experienced that feeling). Currently, I expect it would be a merge of :lemon_enraged:, :lemon_grumpy:, and :lemon_pensive:.

[2020-10-04 23:42] gustavwilliam commented on #84
I think this would be great. Assigning you to it now.

[2020-10-04 23:51] Atharv-Attri commented on #84
Thanks!

[2020-10-05 00:10] lemonsaurus commented on #84
sounds fine to me. go ahead.

[2020-10-05 13:28] lemonsaurus opened #85 "Better streaming camframes"
When we do various streams for the community, we often build frame assets that we can use for the streams.

For example, here are the ones I'll be using for the Summer Code Jam 2020

![lemonframe](https://user-images.githubusercontent.com/2098517/95085034-f4a80f00-071e-11eb-8eea-9acfbce514b5.png)
![ves camframe](https://user-images.githubusercontent.com/2098517/95085040-f70a6900-071e-11eb-8b8c-7d4

[2020-10-05 13:33] gustavwilliam commented on #85
In this issue, are we looking for completely new frames or updating the ones you provided to match the theme?

[2020-10-05 17:11] lemonsaurus commented on #85
both. either. We're going to do lots of streaming, and we will need frames for these streams. It'd be nice to have some options.

The end goal is to have a folder in this repo with some streaming assets, including several different kinds of frames.

[2020-10-05 17:12] gustavwilliam commented on #85
Alright, sounds good!

[2020-10-07 00:53] janine9vn opened #86 "GIL Emoji"
We need a GIL emoji! What does this look like? Well... here's a few elements to start with:
- Lock
- "GIL"
- Python Logo

Possible implementation:
- GILectomy (GIL lock being removed from the python logo)

[2020-10-07 07:21] lemonsaurus commented on #86
I don't know. Do we? The GILectomy is such a pie in the sky at this stage, if it's ever gonna happen it's probably years away.

I guess I'd be okay with a Python logo with a lock on it or something to represent the GIL, but I'm not sure it'd see much use.

[2020-10-07 16:56] gustavwilliam opened #88 "Twin beard lemoji"
After seeing a twin beard _lemon_, there's no way not to need a twin beard _lemoji_. Let's make one.

[2020-10-12 09:23] fisher60 opened #90 "okhandbutflipped blurry not identical to default emoji"
## Issue
The `okhandbutflipped` emoji is not identical to the default `ok_hand` emoji.

## Summary
When viewed side-by-side it is clear that the flipped emoji is a little blurry, as well as being thicker and generally different enough that a few users complained about it.

![image](https://user-images.githubusercontent.com/39353605/95729048-1f1f2e00-0c31-11eb-8a41-ae2571a4c13b.png)

[2020-10-12 09:25] gustavwilliam commented on #90
Unless there's any design decision from the original designer to consider, I could fix this.

[2020-10-12 09:27] jb3 commented on #90
Twemoji updated the hand and we didn't which is why the design is different. Go for it @gustavwilliam.

[2020-10-12 09:28] gustavwilliam commented on #90
Perfect; that's what I had expected.

[2020-10-16 10:04] lemonsaurus opened #92 "Title screen for the Python Core Dev Sprint Q&A"
As you may have heard, we're hosting a Python Core Developer Sprint for the CPython devs in our community starting next week. During this event, we will host a Q&A stream on our YouTube.

For this stream, we'd like a sort of title card. For example, for the summer code jam, we used this one:
![image](https://user-images.githubusercontent.com/2098517/96245590-c42a6580-0fa7-11eb-9347-209e2ad48ab3.pn

[2020-10-18 17:47] Xithrius commented on #75
I shall practice more when I have time, sorry for this late response.

[2020-10-20 15:17] janine9vn opened #93 ""Thanks" Emoji"
Requested by some people in meta.
Unsure if this is feasible or will be readable, but I think it's worth experimenting with.

[2020-10-20 15:23] gustavwilliam commented on #93
I think this would be nice to have.

There are a few things to consider. Do we want it to be a lemoji or an ordinary emoji? Should it be letters spelling out the word or should it simply symbolize "thanks"?

I'd happily discuss this in #dev-branding and brainstorm a few options!

[2020-10-21 19:05] nedbat commented on #93
An idea for the emoji:  a gratitude gesture like this: https://www.google.com/search?q=gratitude+gesture,+hand+on+chest&tbm=isch  Eyes closed, smiling, hand on chest.

[2020-10-30 23:13] lemonsaurus commented on #92
This was solved in #dev-branding. Thanks to everyone who helped out!

[2020-10-30 23:13] #92 closed

[2020-10-30 23:18] lemonsaurus opened #95 "Summer Code Jam 2020 Highlights"
For the Winter Code Jam, we created a highlights video, which you can find here:
https://www.youtube.com/watch?v=8fbZsGrqBzo

The video consists of footage from the 10 finalists, a voiceover by yours truly, an intro sequence, and some lowerthirds created in After Effects.

Creating a video like this can be a bit labor intensive, so we're looking for contributors who are willing to help out with pa

[2020-10-30 23:21] gustavwilliam commented on #95
I'd probably be able to help out with writing the script and brainstorming ideas for the video

[2020-10-30 23:21] janine9vn commented on #95
I'm happy to help with recording footage from the projects and also assisting in editing the footage together in a cohesive, continuous clip. While doing this I can also take notes for the voiceover to help with the script writing portion.

What's the timeline look for this? Is there a specific date you'd like this to be released?

[2020-10-30 23:23] lemonsaurus commented on #95
No specific date, the sooner the better but no real rush. Right now, I'm building some acoustic absorber panels for my studio, a project that will probably still take me a few more weeks. After that I will be able to record a far better voice-over, so I'd say we at least have a few weeks to get the footage and script ready.

[2020-10-30 23:42] gustavwilliam commented on #95
Do we have any approximate length that we'd like the video to have? Generally on YouTube, these are my observations and data from previous research regarding optimal video length and time:
- Total: 11 min (±3 min)
- Intro: 1 min 10 s (±20 s)

Something like this would probably be quite good for this as well. We should also try to add some fun or almost surprising elements at times. This will help

[2020-10-30 23:56] janine9vn commented on #95
Longer content does tend to work well in my experience. It's just that most content creators go for maximum value with minimum time and that tends to be on the 12-15 minute range.

Maybe a few ducky appearances?

[2020-10-30 23:57] gustavwilliam commented on #95
For sure. We should definitely have quite a few duckies in there. 12–15 minutes would be fine with me for this.

[2020-11-01 09:32] lemonsaurus commented on #95
I think 12-15 minutes sounds about right.

[2020-11-01 14:42] lemonsaurus commented on #95
Please also keep in mind that this is something we aim to do twice a year, so let's try to come up with a format and a process that isn't a ton of work so that we can keep it up consistently.

Which is to say - don't wear yourself out, and look for ways to generalize an approach. Maybe we can make some lower thirds with duckies in them that can be reused for all videos. Maybe we can make some nice

[2020-11-01 19:33] lemonsaurus commented on #95
We've set some rough deadlines now for this task:
- First draft of script should be done by 8th of November, handled by @gustavwilliam
- Voiceover + music should be done by 15th of November, handled by @lemonsaurus
- Rough cut of video should be finished by 22nd of November, handled by @janine9vn
- Polish and sound effects should be done by 29th of November, @lemonsaurus will take the lead but we'

[2020-11-01 21:17] gustavwilliam commented on #95
Here are a few of the things we discussed earlier today.
### Video ideas
- Order projects "last to first" in the rank they got
- Include "honorable mentions" projects as well
- Start with a hook that wants them to watch until the end
- Presentations of projects should generally be < 1 minute, but should vary based on the size and interest of each project
- Duckies "sprinkled into the project" and

[2020-11-15 06:09] saiTama-max opened #97 "lemon_bruh or lemon_facepalm"
Shouldn't we have a lemoji like that?

[2020-11-15 10:12] lemonsaurus commented on #97
Bruh is not a valid expression and who knows what you're imagining. Facepalm is a very negative emoji that doesn't seem to fit our culture.

I don't think we need these.

[2020-11-15 10:12] #97 closed

[2020-11-15 10:14] saiTama-max commented on #97
alright sure

[2020-11-15 19:24] lemonsaurus commented on #95
* First draft of script by 20th of November (@gustavwilliam and @janine9vn)
* Voiceover + music by 22th of November (@lemonsaurus)
* Rough cut of video by 6th of December (@janine9vn)
* Final cut by 13th of December (@lemonsaurus)

[2020-11-18 05:56] saiTama-max opened #100 "lemon weary or lemon tired ..?"

[2020-11-18 09:43] saiTama-max commented on #75
uhm i tried....
![image](https://user-images.githubusercontent.com/71541684/99513364-91153080-29b0-11eb-97e7-98b5635977d8.png)

[2020-11-18 09:59] gustavwilliam commented on #75
@saiTama-max Thanks for giving this a shot. I'm not a huge fan of how the hat looks. It's not symmetrical and it's closer to one eyebrow than the other. Are we sure we even want leaves under the hat? Just some things to keep in mind.

Also, in the future, try to get assigned to the issue before working on it. Most importantly, it signals that someone is working on it and ensures that multiple peop

[2020-11-18 10:02] gustavwilliam commented on #100
We do have a sleepy lemoji already. This one:
https://github.com/python-discord/branding/blob/master/emotes/lemoji/dist/lemon_sleepy.png

I'm not sure how this one would be different or what purpose it would serve.

[2020-11-18 11:00] gustavwilliam commented on #83
@lemonsaurus @scragly This issue has been stale for a month now. Do you have any thoughts on the proposed labels?

[2020-11-18 11:15] lemonsaurus commented on #100
I think the pensive one also communicates weariness.

![image](https://user-images.githubusercontent.com/2098517/99523663-aaf64980-2997-11eb-831f-87a7176d44a9.png)

Also this issue is just not specified clearly enough. Please describe the issue better in the future so we can understand what the request is.

[2020-11-18 11:15] #100 closed

[2020-11-18 11:26] lemonsaurus commented on #83
your proposal looks good to me, including documentation and level.

[2020-11-18 11:36] saiTama-max commented on #100
oh i didnt notice the sleepy one, that's what i needed

[2020-11-18 11:37] saiTama-max commented on #75
Ah no, I just wanted to try it

[2020-11-18 12:17] lemonsaurus opened #101 "Clean up and vectorize new bot icons"
I've created three rough bot icons for the new bots. I'm wondering if someone would like to polish them a little, turn them into vector, but stay within the same overall style. Simplification is allowed, if it makes sense to do so, and little pydisifications would also be fun to see.

Here are the icons as raster pngs.

## Sir Lancebot
This one is pretty rough - the lines are not very sharp and th

[2020-11-18 12:34] gustavwilliam commented on #101
I'm curious as to your reasoning behind a  yellow/orange logo for Zoot. To me, that signals money and some sort of economics, which isn't quite what I imagine for the bot. Is this purely meant to let all bots use different colors?

[2020-11-18 13:03] gustavwilliam commented on #83
Excellent. I'll action this soon, unless anyone has direct complains about it.

[2020-11-20 13:40] gustavwilliam commented on #83
This have been actioned. All currently existing labels were migrated, so all previously set labels are simply updated to work with the new system, without removing the old ones.

The new labels are live. If you'd like to, feel free to give it another look and see if there's anything we want to adjust and simply change it. If there's something you'd like us to discuss further, you're free to open a

[2020-11-20 13:40] #83 closed

[2020-11-20 15:16] #90 closed

[2020-11-21 10:27] gustavwilliam opened #104 "Lemoji contributions guide"
Lemojis are great and I've heard about many people being interested in contributing. There are however many steps involved and things to know before getting started, which is why I'm proposing a lemoji contributions guide. It will mention at least the following core points:
- The lemojis are based on Twemojis
- How relevant Twemojis are found and downloaded
- We work with vector graphics, which me

[2020-11-21 10:33] lemonsaurus commented on #104
So basically just a README in the lemoji folder, right?

I'm not mad at that.

[2020-11-21 10:51] gustavwilliam commented on #104
Yes, exactly like that. Would we be able to call it `CONTRIBUTING.md` and have it displayed automatically when going into the directory, or would we need to call it `README.md`? I think both would be fine.

[2020-12-06 14:57] lemonsaurus commented on #95
Voiceover is complete:
https://cdn.discordapp.com/attachments/753252897059373066/785156110343864450/Summer_Code_Jam_2020_Highlights-_Voiceover.mp3

[2021-01-02 12:11] lemonsaurus commented on #101
@gustavwilliam Grails are yellow. But I'm not married to yellow, I just want a color that's distinct from the other bots.

![image](https://user-images.githubusercontent.com/2098517/103457014-c923c900-4cfb-11eb-8a6b-7d51a069af2e.png)

Looking at the icons now, I think the Sir Lancebot and Black Knight icons are probably fine and that vectorization isn't crucial, but a new icon for Zoot seems more

[2021-01-03 18:41] gustavwilliam commented on #101
That seems like a good plan. After seeing the bots on the server for a while now, I agree with your observations.

As for the Zoot logo, I think lowering the value of the yellow could go a long way for increasing the contrast. The overall shape could also be refined to more clearly resemble a grail, making it easier to understand at a smaller scale. From the last two months with the icon, it has l

[2021-01-04 00:30] lemonsaurus commented on #101
Sounds reasonable to me.

[2021-02-01 19:32] MarkKoz opened #113 "Animated Valentines Logo Uses Incorrect Shades of Pink"
The background is `e062ca` but should be `d974bf`
The shadow is `b04a9c` but should be `ad5c98`
The upper snake is `ffccff` but should be `ffcbf4`

It's not as simple as changing the colour palette for the GIF because there are slightly different shades of the colours used at the edges of shapes to blend layers together. This is what it looks like with this approach:

![loved_up_512](https://user-

[2021-02-06 16:21] v1nam opened #114 ""star-struck" lemoji"
I would like to try implementing a lemoji with star struck eyes, useful in the case when you are delighted by an action and are surprised at the same time, it would be based on this emoji :star_struck:, I am thinking about making it similar to `lemon_hearteyes` but let me know if I can design it in a better way, here's a rough implementation
![lemon_starstruck](https://user-images.githubuserconten

[2021-02-06 16:25] gustavwilliam commented on #114
Great idea! I think this would be very cool. Just remember to use the updated lemoji base, even if `:lemon_hearteyes:` doesn’t use it yet.

[2021-02-10 14:39] Shivansh-007 commented on #75
I 🤠 would 🤠 like 🤠 to 🤠 work 🤠 on 🤠 this!

[2021-02-10 16:58] Vthechamp22 opened #116 "A winking lemoji"
A lemojified version of :wink: maybe?

[2021-02-15 08:08] Akarys42 opened #117 "Animated emoji cycling through LGBTQ+ flags"
In the past we had *a lot* of flag emojis, although it can be a bit out of scope for our community to add more and more flags. My proposal would be to create an animated emoji cycling through all the different flags, in a similar fashion as our June server icon.

[2021-02-19 23:43] swfarnsworth opened #118 "Python Discord-specific PFP for the ModMail bot"
I'm writing this issue without having consulted the rest of the staff about whether or not this is something we'd want, so this issue should also be a discussion about that if anyone objects.

Currently, the PFP for the ModMail bot is generic. While most ModMail interactions are initiated by server members, we occasionally start them ourselves, and we have to introduce ourselves as "a moderator on

[2021-02-19 23:47] jb3 commented on #118
The good thing about the envelope is that it does help convey the DM nature of the bot, without people knowing what "modmail" means.

I'm curious if there is a logo design which can incoporate both icons to make it clearer.

Could the same effect be achieved through nicknames? Renaming the bot to `Python Discord ModMail` and giving it a nickname of `ModMail` in the server is probably the most clea

[2021-02-19 23:50] swfarnsworth commented on #118
@jb3 Can that be done without making a new account? Would deploying the bot through a different Discord account cause any issues?

[2021-02-19 23:51] jb3 commented on #118
We can rename the account without having to create a new one. It's just done through the Developer portal.

[2021-02-20 00:24] fisher60 commented on #118
I believe something like this could be a very positive change, perhaps something that conveys both `dm/mail` as well as `Python`, although I am not a graphic designer so my input here is limited.

I also quite like the naming and nicknaming suggestion. I think that would be as clear as we could get, while leaving the name in the server streamlined and accessible.

[2021-02-20 01:04] MrKomodoDragon opened #119 "Add Saint Patrick’s day Icon"
We could possibly make an icon for saint patrick’s day, which is coming up soon in March.

[2021-02-20 01:56] janine9vn commented on #119
@MrKomodoDragon You're now assigned, so feel free to work on this and open a PR. What were you thinking for the icon?

[2021-02-20 02:01] MrKomodoDragon commented on #119
Possibly a green background, and a different sahdes of green for the sneks

[2021-02-24 07:47] ks129 opened #123 "Rework seasonal branding structure"
The current setup we have for seasonal branding is out of date. Even the name doesn't work anymore. In order to work well with https://github.com/python-discord/bot/issues/1431, we need to reorganize these assets and standardize on a single approach.

## Wait, what's this for?
Read https://github.com/python-discord/bot/issues/1431 before you read this. Basically we want every PyDis event (or maybe

[2021-02-28 19:42] jb3 commented on #118
We've actioned this through other means, so changing our modmail branding is not necessary.

[2021-02-28 19:42] #118 closed

[2021-03-01 12:18] #114 closed

[2021-03-02 17:11] janine9vn opened #126 "Holi logo"
Holi, also known as the festival of colors, festival of love, or the festival of spring is March 28-29 this year. It'd be super chill if we had a logo for this since we had a logo for Diwali.

If anyone is interested in making a logo for this please comment here~

[2021-03-02 18:45] MrKomodoDragon commented on #126
Can I make one for holi?

[2021-03-02 22:36] kwzrd commented on #123
I really like the idea of using the frontloaded YAML for the meta file. Assuming the `#changelog` notif will be sent as an embed, we will basically have a tag with some extra meta information (not to digress, but could Python's tag system also benefit from this?).

However, I think we need to decide on how to define the time periods. The proposed example is a little different to what I imagined, w

[2021-03-02 23:03] kwzrd commented on #123
For the date formats, we agree with @jb3 that using the month name may be the best option, especially since we can still parse it with `datetime`:
[code]

So the config file could look like:
[code]

This remains easy to parse both programmatically and humanly.

[2021-03-03 01:42] dawnofmidnight commented on #123
I have a quick suggestion. Maybe add a branding command (eg. `!branding`) that anyone would be able to use to see what the current branding is, what it means, and why it's there.

This could help with certain events like international holidays such as the Diwali ones where many people may not known what it means. This is just a rough idea, but maybe something like:
---------
**Branding**
Right now

[2021-03-03 14:12] lemonsaurus commented on #123
@kwzrd
I think your suggestion is fine, provided that we accept an optional `years` parameter for non-recurring events, like we discussed in the community.

@dawnofmidnight
I don't necessarily mind having a `!branding` command, but I'm not sure if it's necessary if that information is always going to be available in #changelog. Either way, it'd have to be implemented after we're done with these in

[2021-03-03 14:34] janine9vn commented on #119
This is closed by #120 . Thanks for the contribution by the way!

[2021-03-03 14:34] #119 closed

[2021-03-03 14:40] janine9vn commented on #126
Absolutely, I'll assign you now.

[2021-03-03 14:40] janine9vn commented on #15
We have one now! Check #120

[2021-03-03 14:40] #15 closed

[2021-03-03 14:42] janine9vn commented on #113
@MarkKoz I remember there being some work done on this but unsure if anything was merged?

[2021-03-03 18:01] MarkKoz commented on #113
nothing as far as i know

[2021-03-03 21:33] kwzrd commented on #123
Okay, sounds like I can start moving things around. It quickly became apparent to me that I will be writing some sort of validation script for my own self anyway, to be safe that all event directories are setup correctly. So we'll see, maybe I'll include it in the PR.

I'm interested what kind of CI setup we'd come up with. Since it'll depend on something ([`python-frontmatter`](https://pypi.org/p

[2021-03-05 16:32] gustavwilliam commented on #84
This was closed by #110.

[2021-03-05 16:33] #84 closed

[2021-03-06 21:19] kwzrd opened #127 "Create Easter themed banner"
The [Easter season](https://github.com/python-discord/branding/tree/master/seasonal/easter) currently lacks a banner asset.

For a simple solution, the contribution can simply adapt the [Evergreen banner](https://github.com/python-discord/branding/blob/master/seasonal/evergreen/banner.png) and apply the colours used by the Easter logo.

However, there's plenty of room for creativity. For example,

[2021-03-06 21:19] kwzrd opened #128 "Create New Year's themed banner"
The [New Year event](https://github.com/python-discord/branding/tree/master/events/new_year) currently lacks a banner asset.

For a simple solution, the contribution can simply adapt the [Evergreen banner](https://github.com/python-discord/branding/blob/master/seasonal/evergreen/banner.png), use the [New Year icon](https://github.com/python-discord/branding/blob/master/events/new_year/annual.png),

[2021-03-07 23:07] dawnofmidnight commented on #128
I can work on this. I've done the base, I just need to add the accents.

[2021-03-08 06:46] dlasusa commented on #126
![Python_Holi_sm](https://user-images.githubusercontent.com/36902797/110284526-cc0a9680-7f96-11eb-96e3-e94512a51a66.png)

Just having some fun with a concept/idea.

[2021-03-08 13:50] lemonsaurus commented on #104
I think it has to be a readme to be displayed, but not sure.

[2021-03-08 13:50] Akarys42 commented on #104
It has to be called `README`, yes. The extension doesn't matter.

[2021-03-08 16:15] MrKomodoDragon commented on #126
Nice!

[2021-03-08 19:18] AG4lyf opened #130 "A lemoji for Highfive"
Kinda same apporch to either this
![image](https://user-images.githubusercontent.com/45149585/110370024-2ed06080-8071-11eb-8844-5e0641778ed7.png)
or a lemon with a hand in front of it.

[2021-03-08 19:20] AG4lyf opened #131 "A hugging lemoji"
🤗 totally like this.

[2021-03-08 19:28] Kronifer commented on #75
@Senjan21 I would like to take this

[2021-03-09 07:02] Senjan21 commented on #75
I have assigned you. Have fun with the design!

[2021-03-09 15:42] Kronifer commented on #75
Thanks! 🤠

[2021-03-09 15:45] Kronifer opened #132 "Saint Patrick's Day theme"
Could we have  a special logo for st. Patrick's Day?

[2021-03-09 15:45] dawnofmidnight commented on #132
That already exists.
https://github.com/python-discord/branding/tree/master/events/st_patricks_day

[2021-03-09 15:54] dawnofmidnight opened #133 "Thanksgiving Theme"
Could we have a Thanksgiving theme?

I'm working on some other assets, so anyone could do this.

[2021-03-09 18:05] AG4lyf commented on #126
I am gonna be working on this one yayyy.

[2021-03-10 08:14] gustavwilliam commented on #132
Yep, this already exists! Thanks for opening the issue, though.

[2021-03-10 08:14] #132 closed

[2021-03-10 08:22] gustavwilliam commented on #116
We have these two emojis already, but I personally don't have anything against adding a pure `:lemon_wink:` emoji. It would be a fun addition.
<img width="59" alt="Screenshot 2021-03-10 at 09 21 24" src="https://user-images.githubusercontent.com/65498475/110598405-ff5d4900-8181-11eb-8e0b-b3b0be66fbe8.png">

[2021-03-10 08:48] Akarys42 opened #134 "Create GitHub team icons"
Currently our GitHub teams doesn’t have any icon, which is a bit of a shame. Here are the ones that could deserve one:
- Admins
- Mods
- Core Devs
- DevOps
- Media
- Generic event team

We shouldn’t spend too much time on this, but having some simple icons would be nice.

One of my idea would be to have a burple background with a white icon on top. If you have any better idea go for it, icon desig

[2021-03-10 12:04] jb3 commented on #134
I need to clean up the GitHub Teams a bit, so the list might change slightly.

[2021-03-10 16:48] Shivansh-007 opened #135 "Create a logo for Trivia quiz game"
The [trivia quiz](https://github.com/python-discord/sir-lancebot/blob/master/bot/exts/evergreen/trivia_quiz.py) command on sir-lancebot currently lacks a branding/logo.

With the introduction on [Wikipedia Guess Game](https://github.com/python-discord/sir-lancebot/pull/618) along with it, I had like add a nice pretty logo on it as the thumbnail.

Feel free to discuss ideas here or in `#media-brand

[2021-03-11 00:22] gustavwilliam commented on #134
Should we stall this until there's an updated list available?

[2021-03-11 00:23] jb3 commented on #134
List updated. Everything here is fine except that the Event Team has been removed.

[2021-03-11 07:39] Akarys42 commented on #134
That was probably poorly explained, but my thought was to have a special icon for temporary or team created for an event that is bound to disappear. Like a star or something generic.

[2021-03-12 10:46] AG4lyf opened #137 "RGB animated logo"
A draft was given by me in media-branding channel with  following content

https://cdn.discordapp.com/attachments/753252897059373066/819712051848151040/v1.gif

although it doesn't  follow the 3 second animation 5 second rest rule. it is still viable to use 7 seconds of animation saying there is nothing to focus on.

[2021-03-13 12:38] lemonsaurus commented on #137
I guess that's okay, but can we have the animation flow diagonally instead of straight top to bottom?

[2021-03-13 13:08] AG4lyf commented on #137
That's a great idea.
i will open the PR with diagonal gradient.

[2021-03-13 17:28] kwzrd commented on #123
For a quick update: my [more-or-less finished implementation Python-side](https://github.com/python-discord/bot/pull/1463) is using  [`python-frontmatter`](https://pypi.org/project/python-frontmatter/), but I'm still looking for input regarding the CI setup.

[2021-03-14 12:52] lemonsaurus commented on #137
GIF limitations make implementing this difficult without looking noisy and bad.

[2021-03-14 12:52] #137 closed

[2021-03-16 22:22] kwzrd commented on #127
Since #129 is blocked by this, I decided to include a simple Easter banner as part of the PR.

It is the evergreen banner adapted to use the Easter icon & colours:

![image](https://user-images.githubusercontent.com/44734341/111387601-4382a900-86ae-11eb-8046-823d10cfc96a.png)

It was created using the evergreen banner's SVG and both the SVG and PNG will be included in the PR so that we can play wi

[2021-03-16 22:23] kwzrd commented on #128
Hi @dawnofmidnight, how is the banner coming along?

[2021-03-16 22:31] dawnofmidnight commented on #128
Almost done with it, I'm just finishing up adding some effects in the background because the plan with the Os was not working very well.

[2021-03-27 00:46] lemonsaurus opened #141 "please make australian ducky"
It should be upside down and be [wearing a hat.](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tipperarylive.ie%2Fupload%2F1562673790732.jpg&f=1&nofb=1)

[2021-03-27 01:26] #135 closed

[2021-03-27 01:28] lemonsaurus commented on #95
Completed. see the final video at https://www.youtube.com/watch?v=g9cnp4W0P54

[2021-03-27 01:28] #95 closed

[2021-03-29 20:23] #123 closed

[2021-03-29 20:23] #127 closed

[2021-03-30 13:17] kwzrd opened #143 "Add embed status workflow"
Since the Python Discord migration to GH Actions, a [custom workflow](https://github.com/python-discord/bot/blob/main/.github/workflows/status_embed.yaml) is used to webhook status embeds to the `#dev-log` channel:

![image](https://user-images.githubusercontent.com/44734341/112994191-48ddfa00-916a-11eb-9bd3-81d99cc93efe.png)

Such embeds provide more information than the defaults that GitHub itse

[2021-04-01 13:32] lemonsaurus opened #147 "Quackstack: Add SVGs and PNGs for all accessories."
Currently, we only have PNGs for some of our ducky accessories. There are also some accessories that don't combine well. Let's clean this up and get a nice set of accessories added to this repo, in the `quackstack` root folder, with pngs and svgs for everything.

[2021-04-01 17:41] MarkKoz commented on #113
@lemonsaurus why was this closed?

[2021-04-01 21:43] lemonsaurus commented on #113
because the pull request was merged?

[2021-04-01 21:44] lemonsaurus commented on #113
right, I see now that it doesn't affect this animated banner. but I'm not sure if anyone actually has this animation and can change it, I have no idea who made it.

[2021-04-19 08:00] lemonsaurus opened #149 "Add branding for Eid al-Fitr"
We're interested in having branding for Eid al-Fitr.

Remember to follow the event branding instructions found here:
https://github.com/python-discord/branding/blob/main/events/README.md

[2021-04-19 09:50] Shivansh-007 opened #150 "Mandarin Duck"
Mandarin is the world's most beautiful duck, it is full of colors.

![image](https://user-images.githubusercontent.com/69356296/115216979-a5598700-a122-11eb-9fa0-7f77a5c2b3db.png)

[2021-04-19 09:53] Shivansh-007 opened #151 "Carpenter Ducky"
Got the idea from the duck builder project, where we build ducks.

A possible implementation can be a 🦆 with a 🧑‍🏭 's cap and a 🔨 .

carpenter ducky = duck + factory worker's cap + hammer

[2021-04-19 11:28] vcokltfre commented on #151
Huh, this sounds interesting, could you create a couple of mock-up ducks so we could see how it looks and attach them to this issue?

[2021-04-19 11:47] Srijandev commented on #150
Interesting 🤓

[2021-04-20 19:14] gustavwilliam opened #152 "Branding for earth day"
International earth day is just around the corner, on April 22, so @Akarys42 proposed that we put together some server branding for the event!

[2021-04-20 19:16] xkawixgirlx commented on #152
I would love to help out with branding for Earth Day!

[2021-04-21 23:11] gustavwilliam commented on #128
I assume this is completed and can be closed now?

[2021-04-22 00:06] #152 closed

[2021-04-22 06:17] kwzrd commented on #128
As 179292f64ae64dd93c144c6808fbaf4bed0f8973 explains, the version added in #140 is not considered complete and will be updated in the future. We decided to merge it in the current state to unblock #129. However, writing a separate issue to finish the work may make more sense than leaving this one open.

[2021-04-22 13:45] dawnofmidnight commented on #128
I agree with kwzrd, this should probably be closed.

[2021-04-22 15:40] doublevcodes commented on #149
Comment because I need to comment because I'm doing this.

[2021-04-22 17:31] Akarys42 commented on #149
Hey @doublevcodes, do you want to be assigned to the issue?

[2021-04-22 18:07] doublevcodes commented on #149
Yeah

[2021-04-24 16:06] #143 closed

[2021-04-26 16:41] ChrisLovering opened #154 "Animated lemonsaurus"
We currently have this lemonsaurus https://github.com/python-discord/branding/blob/main/emotes/other/src/lemonsaurus.svg

It would be really cool if we could have an animated version, with a walking cycle. Maybe with the tail & arms moving too!

[2021-05-05 07:02] grxpee opened #155 "server icon"
opinions?

https://user-images.githubusercontent.com/70288471/117106738-aaecd900-ad80-11eb-9316-1e23572134f6.mp4

[2021-05-05 07:42] lemonsaurus commented on #155
Hi! Thanks for your contribution.

- Standard server icons should use our regular blurple colors, and the icon must match the relative size of all the existing animations (this one is much smaller). Only special events should use other colors.
- Text is usually a bad idea for a server icon. It's not going to be possible to read any of this stuff at a small resolution.
- The snakes are not aligned

[2021-05-05 07:45] MarkKoz commented on #155
You must consider it in the context in which it will be displayed. It'd be too small to make out most of what's going on.

That being said, I do think the idea of an animation from the logo to some code and then back to the logo is promising. However, it may need some additional "twist" to make it more interesting than just rendering some lines of code.

There's lots of dead space in the current a

[2021-05-05 08:09] grxpee commented on #155
Yes, i know that was only a little example, i just tried something and not the final animation.

[2021-05-06 20:09] dannynotsmart opened #156 "Pixel art lemoji for Discord Server"
Hi! I designed a 8 bit version of lemoji, I was wondering if it would be added to the server!
Idk why, I just thought pixel art looked tacky
- Cat

[2021-05-06 20:12] gustavwilliam commented on #156
I like the idea of a pixel art emoji. It's fun; let's do!

(Cat, who opened the issue, is working on it in `#media-branding`)

[2021-05-13 17:39] Kronifer opened #157 "Remake the pydis logos to match discord's new color scheme"
Discord recently redid their branding, and have started using a new blurple color. I think we should rebrand the pydis logo(s) to fit the new color.

[2021-07-30 16:29] InvisibleOS opened #159 "Branding for Comic Day"
[Free Comic Book Day](https://en.wikipedia.org/wiki/Free_Comic_Book_Day) is on the [14th of August](https://g.co/kgs/PBZqKP) this year and we are approaching it. It is an annual promotional effort by the North American comic book industry to help bring new readers into independent comic book stores.

I think we could have a comic, retro or pop style branding for this event.
- I would like to do th

[2021-07-30 21:07] NIRDERIi commented on #159
I think this is a great idea! I saw in the `dev-branding` channel in the python server you suggested making some sort of a banner or guild icon, which sounds great, can't wait to see your idea and icon design!

[2021-07-31 13:18] InvisibleOS commented on #159
**How's this?**

![PyDisLogo](https://user-images.githubusercontent.com/76255686/127740935-cc1a6612-96e9-4de2-8d97-f15fb582dc34.png)
![logo_circle](https://user-images.githubusercontent.com/76255686/127740943-2895df9d-2675-40b2-afe8-8ceb4007d20a.png)

[2021-07-31 13:31] InvisibleOS commented on #159
**How's this?**

![PyDisLogo](https://user-images.githubusercontent.com/76255686/127741444-c2f82165-b4ce-4790-ad43-1f3bed28a4cd.png)
![logo_evergreen](https://user-images.githubusercontent.com/76255686/127741447-29bc1523-4af1-42a3-946f-97cfdbb32a25.png)

[2021-07-31 13:32] NIRDERIi commented on #159
I think it looks great!

[2021-08-14 20:33] #159 closed

[2021-08-14 20:36] ChrisLovering opened #162 "Halloween branding"
As part of https://github.com/python-discord/branding/pull/161 we removed the Hacktoberfest branding, as we will not be taking part in Hacktoberfest this year.

As such, some generic Halloween branding should be made for our events calendar.

There are some assets in `halloween/assets/` that you are free to use for this.

A PR for this issue should include a new Halloween event in `events/` and sh

[2021-09-19 20:50] janine9vn opened #163 "Role Icons!"
We're in the Discord Beta for Role Icons! Let's make some role icons~

### Constraints/Guidelines:
- Must be a png/jpg or emoji from the server
- Cannot be animated
- Be under 256kb
- Should be at least 64x64 pixels

### Roles we'll be looking at:
- Code Jam/PyWeek/Game Jam Champions

I'd love some help with feedback and brainstorming~

[2021-09-19 20:56] doublevcodes commented on #163
The purple Discord diamond thing could work for boosters.

[2021-09-20 10:24] ChrisLovering commented on #163
How about this for mods?

![orange mod badge](https://user-images.githubusercontent.com/9753350/133987730-7f5d6b18-410b-4125-97f3-0f97f011d066.png)

[2021-09-20 10:26] ChrisLovering commented on #163
maybe ducky Dave, or some other relevant ducky for helpers :D ?

[2021-09-20 10:28] ChrisLovering commented on #163
I also like the idea of contribs getting an icon. I think if we do, we should also have a core dev icon that looks like an "upgraded" version of the contrib icon.

[2021-09-20 10:29] Akarys42 commented on #163
I like this idea! What about a single green cog for contrib and two light blue gears for core dev?

[2021-09-21 09:47] ChrisLovering commented on #163
We should also think about giving the 3 Champion roles icons too. PyWeek, Game Jam and Code Jam

[2021-09-21 09:49] ChrisLovering commented on #163
Possibly :D
I'm bad at imagining what things may look like, so I have no opinions until I see the images lol

[2021-10-03 19:29] jb3 commented on #163
We've had a chat in admins and decided the roles to target for now are just the champion roles, we won't have an icon for moderators, helpers, media/forms team, help cooldown or lead roles. We'll discuss a contributor icon for a later date.

I'll update the issue text appropriately.

[2021-10-03 19:34] janine9vn commented on #163
What's the reasoning for no help cooldown icon?

[2021-10-03 19:40] jb3 commented on #163
We felt that people will just open channels to get an icon and the cost of moderating that sort of thing outweighs the benefit of having people assigned an icon for opening a help channel, especially since it's carried across the whole server, not just the currently active help channel for that user.

We're discussing with the Core Devs about whether they would like a Core Dev icon (Core Devs & Co

[2021-10-05 05:14] gustavwilliam commented on #155
This seems to be pretty stale, so I'm closing this. @grxpee Feel free to reach out to us in `#dev-branding` to discuss your ideas, if there's anything else you'd like to contribute with 😄

[2021-10-05 05:14] #155 closed

[2021-10-05 05:22] gustavwilliam commented on #128
Since we have a banner now, I'm closing this. If someone's interested in creating a new one at a future date, like you were talking about, that'll be a different issue.

[2021-10-05 05:22] #128 closed

[2021-10-05 05:25] gustavwilliam commented on #141
@lemonsaurus We do have this aura Australian ducky now:
![image](https://user-images.githubusercontent.com/65498475/135965212-0d8a1d5c-66f2-44a2-9c1e-a913ef1569fa.jpeg)

It's not quite wearing a hat, but I assume you'd be fine with closing this issue?

[2021-10-05 06:05] lemonsaurus commented on #141
not really. we should replace that duck with a true blue Australian.

[2021-10-12 16:04] #75 closed

[2022-01-01 00:38] bsoyka opened #171 "Allow events across multiple years"
Some of the current logic in `events/validation.py` doesn't allow for the end date of an event to be "before" the start date. This means we can't easily have New Year's branding start in December and end a few days into January.

This requires some changes to the validation here, and I imagine it might take some changes in the bot's branding daemon (see python-discord/bot#2035).

[2022-02-16 18:56] #101 closed

[2022-03-17 14:35] PriyanshGoel21 opened #174 "Update Holi dates"
The day on which Holi falls changes from year to year based on the local calendar and hence the date needs to be updated.

[2022-04-02 18:16] minalike commented on #149
Hey all, @doublevcodes are you still interested in this? I saw this message from last year: https://discord.com/channels/267624335836053506/753252897059373066/834514775575756810

I know the topic of Ramadan branding comes up fairly often. I also see you were never actually assigned to this issue.

Is this up for grabs?

[2022-04-03 08:34] doublevcodes commented on #149
Hey @minalike

I don't think I'll have time for this anymore. Life calls 😅. I'd be open to letting anyone else do this, although I did come up with some initial ideas in the #dev-branding channel.

[2022-04-03 12:03] nerfelitewar commented on #149
yes ofc do it <3
![Ramadan-Celebration](https://user-images.githubusercontent.com/80751691/161427066-99e2e866-2982-4787-8ede-3dae61f9048c.jpg)

[2022-04-28 10:30] lemonsaurus commented on #171
Yeah, I'd definitely like to see this change. 👍🏼

[2022-04-28 10:33] lemonsaurus commented on #19
We have a bunch of these now. Solved!

[2022-04-28 10:33] #19 closed

[2022-04-28 10:34] lemonsaurus commented on #44
Plenty of lemojis now, let's close this.

[2022-04-28 10:34] #44 closed

[2022-04-28 10:34] lemonsaurus commented on #76
I think this was solved back in the day. Closing it.

[2022-04-28 10:34] #76 closed

[2022-04-28 10:34] #79 closed

[2022-04-28 10:35] lemonsaurus commented on #85
Not really relevant anymore now that we're using Streamyard

[2022-04-28 10:35] #85 closed

[2022-04-28 10:36] lemonsaurus commented on #86
Closing this, never seemed to materialize.

[2022-04-28 10:36] #86 closed

[2022-04-28 10:37] lemonsaurus commented on #104
I'd still very much like to see this one happen.

[2022-04-28 10:37] lemonsaurus commented on #104
Whoops, lol.

[2022-04-28 10:58] lemonsaurus commented on #113
I think it's quite hard to justify spending time recreating this icon over a minor color discrepencies. I'm tempted to just close this issue, especially given it's been inactive for over a year.

@MarkKoz do you have any objections to that?

[2022-04-28 10:59] lemonsaurus commented on #117
I quite like this proposal, and would welcome a PR for this.

[2022-04-28 11:00] #141 closed

[2022-04-28 11:01] lemonsaurus commented on #156
@dannynotsmart @gustavwilliam

This seems to have gone stale. Should we close this issue?

[2022-04-28 11:02] lemonsaurus commented on #163
We've added a bunch of role icons by now, and they've found their way into this repo inside https://github.com/python-discord/branding/tree/main/icons/role_icons

Let's close this issue as this has been resolved.

[2022-04-28 11:02] #163 closed

[2022-04-28 11:15] lemonsaurus opened #181 "Manage movable holiday events with CI"
## What's the problem?
Some of the events we've got branding for, such as Eid al-Fitr and Holi, fall on different dates every year.

This means we manually update the start and end dates for these in order for the events to happen at the right time of year.

## How can we solve that?
One approach is to leverage GitHub Actions to create an automatic pull request with the required changes every year

[2022-04-28 17:01] MarkKoz commented on #113
No objections

[2022-04-28 17:20] #113 closed

[2022-04-28 19:11] EitoZX commented on #149
uhm.. how about we close this issue now?

[2022-04-28 19:22] #149 closed

[2022-07-20 20:11] PH-KDX opened #187 "Add a ducky with a beer"
I'd like to contribute `:ducky_beer:` to our fine set of ducklets.
![ducky_beer_resized](https://user-images.githubusercontent.com/50588793/180072740-d1d63d3b-55d4-40be-a3e8-12cfcac24de9.png)

[2022-07-21 13:32] lemonsaurus commented on #187
Renaming this PR - no need to bring alcoholism into this. All I see is a nice duck enjoying a cold one on a warm day.

[2022-07-21 13:37] PH-KDX commented on #187
Good point, noted.

[2022-07-21 13:58] #187 closed

[2022-07-25 19:01] ionite34 opened #189 "Add a wolf ducky"
Proposal to add `:ducky_wolf:`

![ducky_wolf](https://cdn.ionite.io/img/wolf_ducky_o.png)

[2022-08-16 21:20] D0rs4n commented on #181
I'd like to tackle that one.

[2022-10-25 04:37] gustavwilliam commented on #116
A pure winking lemoji has since been added.

<img width="38" alt="Screenshot 2022-10-25 at 06 37 32" src="https://user-images.githubusercontent.com/65498475/197683780-9c22f8d6-5508-4ab4-8935-8bdfe75b703c.png">

[2022-10-25 04:37] #116 closed

[2022-10-25 04:41] gustavwilliam commented on #134
@jb3 can we close this issue, or is there something left to do?